.input {
  width: 100%;
  padding: calc(0.55em - 1px);
  border: 1px solid $gray-c1;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1em;

  &.active {
    border-color: $gray-7a;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 3px fade-out($primary, 0.75);
  }

  .input-row.input-row-error & {
    border-color: $red;
  }
}

input.input-number-hide-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  & {
    -moz-appearance: textfield;
  }
}

@for $i from 1 through 10 {
  .input-char-#{$i} { width: 1.1em + 0.625em * $i; }
}

.input-row {
  &:not(:last-child) {
    margin: 0 0 $gap 0;
  }
}

.input-block {
  display: flex;

  &.input-block-btn-left .input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.input-block-btn-right .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.input-block-btn-both .input {
    border-radius: 0;
  }
}

.input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  border: 1px solid $gray-c1;
  background: $gray-e5;

  @at-root button#{&} {
    &:hover,
    &.active {
      border-color: $primary;
      background: $primary;
    }
  }

  &:not(.input-btn-rounded):first-child {
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:not(.input-btn-rounded):last-child {
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.input-btn-rounded {
    border: 1px solid $gray-c1;
    border-radius: 5px;
  }
}

.btn-form {
  width: 100%;
  border-radius: 5px;
}

.input-message {
  margin: 0.5em 0 0 0;
  font-size: 0.8em;

  .input-row.input-row-error & {
    color: $red;
  }
}