.input {
  width: 100%;
  padding: calc(0.55em - 1px);
  border: 1px solid $gray-c1;
  border-radius: 5px;
  font-size: 1em;

  &.active {
    border-color: $gray-7a;
  }

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 3px fade-out($primary, 0.75);
  }
}

.btn-form {
  width: 100%;
  border-radius: 5px;
}