* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: $nav-height;
}

main {
  padding: $gap 0;
}

// Text elements

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,.title {
  color: $black;
  text-transform: uppercase;
  font-weight: 500;
}

h1,.h1 { font-size: 1.8em; }
h2,.h2 { font-size: 1.6em; }
h3,.h3 { font-size: 1.4em; }
h4,.h4 { font-size: 1.3em; }
h5,.h5 { font-size: 1.2em; }
h6,.h6 { font-size: 1.1em; }

h1,h2,h3,.h1,.h2,.h3 { margin: 0 0 $gap * 2 0; }
h4,h5,h6,.h4,.h5,.h6 { margin: 0 0 $gap  0; }

.subtitle {
  margin: 0 0 0.8em 0;
  color: $gray-7a;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
}

p {
  margin: 0 0 1em 0;
  line-height: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $gray-33;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $primary;
  }
}

.logo {
  height: $nav-height;

  @at-root a#{&} {
    font-weight: 500;
    line-height: $nav-height;
  }
}

.btn {
  cursor: pointer;
  padding: 0.55em 1.55em;
  border: 0;
  text-transform: uppercase;
  font-family: $font-roboto;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn-primary {
  background: $primary;
  color: $white;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $black;
  }
}