.nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 $gap;
  height: $nav-height;
  background: $white;

  .logo {
    height: $nav-height;
  }

  .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: block;
    }
  }

  @media (max-width: $break-xs-max) {
    .nav-menu {
      width: 100%;
    }
  }

  @media (min-width: $break-sm-min) and (max-width: $break-sm-max) {
    .nav-menu {
      width: 300px;
      border-bottom-left-radius: $gap;
    }
  }

  @media (max-width: $break-sm-max) {
    header & {
      position: fixed;
      width: 100%;
    }

    .nav-menu {
      overflow: hidden;
      position: fixed;
      top: $nav-height;
      right: 0;
      padding: $gap * 0.5 0;
      background: $white;
      box-shadow: 0 10px 10px $gray-e5;
      transition: $anim-time;

      &:not(.opened) {
        transform: translateX(100%);
      }

      a {
        padding: $gap * 0.5 $gap;

        &:hover,
        &:active,
        &:focus,
        &.active {
          background: $gray-e5;
        }
      }
    }
  }

  @media (min-width: $break-md-min) {
    .nav-toggler {
      display: none;
    }

    .nav-menu {
      margin-left: auto;

      li {
        float: left;
      }

      a {
        padding: 0 $gap;
        height: $nav-height;
        line-height: $nav-height;
      }
    }
  }
}

.nav-toggler {
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  padding: 3.5px 5px;
  border: 0;
  background: transparent;

  span {
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background: $black;
  }
}