// Colors
$primary:       #ff000b;
$secondary:     #ff999d;

$red:           #ff2424;
$green:         #12a523;

$white:         #ffffff;
$gray-f1:       #f1f1f1;
$gray-e5:       #e5e5e5;
$gray-c1:       #c1c1c1;
$gray-7a:       #7a7a7a;
$gray-33:       #333333;
$black:         #000000;

// Fonts
$font-roboto: 'Roboto', sans-serif;

// Responsive breakpoints
$break-xs-max: 575px;
$break-sm-min: 576px;
$break-sm-max: 767px;
$break-md-min: 768px;
$break-md-max: 991px;
$break-lg-min: 992px;
$break-lg-max: 1199px;
$break-xl-min: 1200px;

$breakpoint-names:    'xs' 'sm' 'md' 'lg' 'xl';
$breakpoints-min: (
  xs: 0px ,
  sm: 576px, 
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$col-max-count:       12;

// Sizes
$gap:                 20px;
$section-max-width:   1100px;
$nav-height:          50px;

// Times
$anim-time:     0.3s;

// z-indexes
$z-index-header: 100;
$z-index-popup: 101;