// Colors
$primary:       #ff000b;
$secondary:     #ff999d;
$white:         #ffffff;
$gray-e5:       #e5e5e5;
$gray-33:       #333333;
$black:         #000000;

// Fonts
$font-roboto: 'Roboto', sans-serif;

// Responsive reakpoints
$break-xs-max: 575px;
$break-sm-min: 576px;
$break-sm-max: 767px;
$break-md-min: 768px;
$break-md-max: 991px;
$break-lg-min: 992px;
$break-lg-max: 1199px;
$break-xl-min: 1200px;

// Sizes
$gap:           15px;
$nav-height:    50px;

// Times
$anim-time:     0.3s;